footer {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    
    color: rgba(53, 52, 52, 0.486);
}

.mid{
width: 100%;
height: 500px;
margin: 0;
background-color: whitesmoke;
display: flex;
align-items: center;
justify-content: center;
}

input{
    color:white;
    background-color: rgb(50, 182, 235);
    border: none;
    border-radius: 25;
    font-size: 25pt;
    width: 30%;
    height: 30%;
    border-radius: 50px;
}

input:hover{
    background-color: skyblue;
}
#calend{
    width: 13%;
    height: 50%;
}

.photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
}
.date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
}

.id{
    padding-left: 70px;
}